.card-image{
    background-image: url(../images/shop-images/earth.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height:  280px;
}